.banner-img {
    height: 250px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .banner-img {
        height: 512px;
    }
}

.banner-img::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.banner-heading {
    font-size: 50px;
    color: #fff;
    text-transform: capitalize;
}

.banner-subheading {
    color: #fff;
    font-size: 20px;
}
